<h2>Interview Analysis</h2>

<h4>Level: <%= @conversation.level %></h4>

<pre class="p-4 bg-light"><%= @analysis %></pre>

<a href="/students/ai_interviews/new" class="btn btn-secondary">Start New Interview</a>
